body{
	/*background: url("mw1.jpg");
	background-size: 100% 400%;
	background-repeat: no-repeat;*/
	background-color:black;
}

.fir{
	padding-top: 10px;
	margin-left: 50px;
}

.Link1{
	margin-left: 50px;
	width:220px;
	background-color: #c0c1c2;
	color: black;
}

.second{
	padding-top: 15px;
	padding-bottom: 15px;
}

.sam{
	height: 30px;
	border-color: green;
}

.drop{
	height: 35px;
	border-color: green;	
}

.but{
	width:220px;
	background-color: #1d60a3;
	height: 45px;
	color:white;

}