.Drs{
	height: 35px;
	width: 100px;
	background-color: #010126;
	color:white;
	border-radius : 0px;

}

.dels{
	height: 35px;
	width: 100px;
	background-color: #010126;
	color:white;

}

input{
	margin-top: 10px;
	height: 30px;
	width: 150px;
	/*background-color: #010126;*/
	color: black;	
}

.forDesign{
	height: 30px;
	width: 265px;
	background-color: #010126;
	color: white;
}
